{% extends 'base.html' %}
<!--This is extending the basic layout already in base.html-->

{% from 'bootstrap5/form.html' import render_field %}
<!--Ensures consistent bootstrap-->
{% block content %}

<!-- Event update page container -->
<div class="container-create">
  <div class="p-5 creationjumbotronimage rounded-3">
    <div class="jumbotronback container-fluid py-5">
      <h1 class="display-5 fw-bold">Update an Event</h1>
      <p class="col-md-8 fs-4">
        At FoodieVent, it's not just an event. Share memories, bring people together.
        Enjoy food, drinks, and company. Update your pre-existing event here.
      </p>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12 col-md-10 col-lg-8 offset-md-2">

      <form id="update-form" method="POST" action="{{ url_for('events.update', event_id=event.id) }}"
        enctype="multipart/form-data">

        <!-- Render all fields except cancel/reopen/submit -->
        {% for field in form if field.name not in ['cancel_event', 'reopen_event', 'submit'] %}
        {{ render_field(field) }}
        {% endfor %}

        <!-- Show only one checkbox based on enum status -->
        <div class="mb-3 mt-3">
          {% if event.status.name == 'OPEN' %}
          <p class="warning-text">WARNING: All bookings for this event
          will be cancelled and refunded if this event is
          cancelled.
          You are able to re-open a cancelled event.
          However, cancellation of bookings and refunding of payments is final and cannot be undone.
          Please ensure you have considered this decision carefully, as it will impact your customerbase.</p>
          {{ form.cancel_event }}
          {{ form.cancel_event.label(class="cancel-event") }}
          {% elif event.status.name == 'CANCELLED' %}
          {{ form.reopen_event }}
          {{ form.reopen_event.label(class="reopen-event") }}
          {% endif %}
        </div>

        <button type="button" class="btn btn-success mt-3" data-bs-toggle="modal" data-bs-target="#confirmUpdate">
          Update Event
        </button>
      </form>

      <div class="modal fade" id="confirmUpdate" tabindex="-1" aria-labelledby="confirmUpdateLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header warning-text">
              <h5 class="modal-title" id="confirmUpdateLabel">Are you sure about these changes?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body warning-text">
              Changes to this event will be enacted immediately. Please carefully consider your changes before
              confirming your submission.
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
              <!-- This submits the page form -->
              <button type="submit" class="btn btn-success" form="update-form">Update changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}